.initContainer{
}
.initContainerContainer {
    color: #000;
    width: 500px;
    background-color: #ffd800;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 25px;
    box-shadow: inset 0px -15px 50px #111;
}
.header{
    font-weight:lighter;
    margin-bottom:45px;
}
.horizontalDivider{
    height:1px;
    background-color:#111;
}
.options {
    //background-color: #ffea73;
}
.info{
    font-size:1em;
}
.chooseType {
    display: inline-flex;
    margin-bottom:25px;
}
.verticalDivider {
    width: 0.5px;
    background-color: #111;
    margin-left:25px;
    margin-right:25px;
}
.chooseType > label {
    display:inline-flex;
}
.chooseType > label > input {
    border: 0px;
    width: 100%;
    height: 1.5em;
}